

body {
  font-family:"europa";
}

*{
	padding: 0;
	margin: 0;

}
.fa-bars{
  color: black;
}

.nav-container {
    justify-content: center;
    width: 100%;

}
/*HOMEPAGE*/
.banner-heading{
	margin-top: 50px;
}

.brand {
  position: absolute;
  top: 42px;
  left: 50px;
}


.rainbow-border {
  --border-bottom: 10px;
  background: #FFFFFF;
  position: relative;


}
.rainbow-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--border-bottom));
  height: calc(100% + var(--border-bottom) * 2);
  width: 100%;
  background: linear-gradient(60deg, red,orange,yellow,green,blue,indigo,violet);
  z-index: -1;
  animation: animatedgradient 40s ease infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.awg-border {
  --border-bottom: 10px;
  background: #FFFFFF;
  position: relative;


}
.awg-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--border-bottom));
  height: calc(100% + var(--border-bottom) * 2);
  width: 100%;
  background: linear-gradient(60deg, #d7df21,#c6c7c9,#2f4a9c);
  z-index: -1;
  animation: animatedgradient 10s ease infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar-nav li a{
	font-size: 20px;
	font-family: 'europa';
  font-weight:400;
  color: #787878;
  text-align: center;

}


.navbar-nav li a:hover, .disabled{
	border-bottom: 4px solid #000000;
  color: #000000;
}

.navbar-nav li a:hover{
	color: black;
}



.navbar-nav li a:active {
  color: #787878;
}




.nav-link{
	padding: 40px 0px;
}

.navbar{
	padding: 0px;

}

.nav-item{
	margin-right: 150px;

}
.nav-item:last-child{
	margin-right: 0px;
}


.view-btn {

    border: 2px solid #000;
    font-size: 20px;
    font-family: 'europa';
    color: #000;
    padding: 0px;
    width: 230px;
    height: 80px;
    border-radius: unset;
    line-height: 75px;
    text-align: center;

}



.view-btn:hover{
background-color: #000;
color: #fff;
}



.inner-projects{
	margin-top: 120px;
	margin-bottom: 60px;
}
.inner-project{
	margin-top: 100px;
	margin-bottom: 200px;
}
.rec-desc p{
	font-size: 20px;
	margin: 0px;
	padding: 0px;
  font-family:"europa";
	line-height: 30px;
    width: 100%;
}
.rec-desc{
	padding-left: 30px;
}


.footer-para p{
	font-size: 12px;
	padding: 0px;
	margin: 40px 0px;
  font-family: 'europa';
  text-align: center;
}

/*ARTWORK*/
.theme{
	padding: 110px 0px 500px 0px;
}
.theme-desc h1{
  font-size: 36px;
  text-align: center;
  font-family: 'europa';
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
.theme-desc p{
	display: block;
    max-width: 650px;
    width: 100%;
    margin: 80px auto;
    padding: 0px;
    font-size: 22px;
    font-family: 'ibm-plex-mono';
    line-height: 30px;
    text-align: center;
}
.theme-name p{
	font-size: 24px;
	text-align: center;
  font-family: 'europa';
  font-weight: 400;
	padding: 0px;
	margin: 45px 0px;
	width: auto;
}
.theme-image img{
	width: 100%;
}

/*PROJECT*/
.project{
	padding: 110px 0px;
}


.project h1{
	font-size: 28px;
	font-family: 'europa';
	padding: 0px;
	margin: 0px;
  margin-right: 40px;
  margin-left: 40px;
  line-height: 42px;
}

.project-img img{
	width: 100%;
  margin-bottom: 30px;
}
.project-info p{
	display: block;
    max-width: 360px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.project-desc {
	padding-left: 70px;
}
.project-rec {
	padding-top: 55px;
    position: absolute;
    bottom: 0;
}
.project-block{
	margin-top: 120px;
}
.project-descs{
	padding-left: 100px;
}
.project-info-left p{
	display: block;
    max-width: 360px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.project-info-left{
	padding-top: 60px;
}
/*top banner*/

.row
{
	margin: 0;
	padding: 0;
}

.top-banner
{
	/*background-color: #FFE300;*/

    height: 680px;
	position: relative;

    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 40s ease infinite;
    -z-animation: rainbow 40s ease infinite;
    -o-animation: rainbow 40s ease infinite;
    animation: rainbow 40s ease infinite;
}




.banner-heading
{
	text-align: center;
	width: 100%;
	margin-bottom: 65px;
}

.banner-heading-awg
{
	text-align: center;
	width: 65%;
	margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
}

.banner-heading-awg h1
{
	padding: 0px;
  text-align: center;
	margin-top: 40px;

}

.banner-heading p
{
	font-size: 22px;
	padding: 0px;
	margin-top: 36px;

}

.ticker{
  margin-top: 20px;
}

.projects
{
	margin-top: 200px;
}



.right-side-content
{
  display: inline-block;
  font-family:"ibm-plex-mono";
  position: absolute;
  text-align: right;
  right: 0;
  padding: 50px;
  top: 396px;
  width: 60%;
  height: auto;
  background-image: url("../images/static_opacity.gif");
  opacity: 0.8;


}

.left-side-img
{
	margin-left: 60px;

}


/*About*/
.about-head h1{
	font-family: 'europa';
  font-weight: 700;
	font-size: 36px;
	text-align: center;
	padding: 130px 0 130px 0;

}
.about-desc p{
	display: block;
    max-width: 500px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-family: 'europa';
}
.about-desc{
	padding-bottom: 150px;
}

.about{
	background-color: #ffe300;*/
    position: relative;

    background: linear-gradient(to right, #ffb2b2, #ffe4b2, #ffffb2, #b2fab2, #b2d1ff, #e0c2ff, #f0b2e0
);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 40s ease infinite;
    -z-animation: rainbow 40s ease infinite;
    -o-animation: rainbow 40s ease infinite;
    animation: rainbow 40s ease infinite;
}

.black-img
{
	position: absolute;
    top: -110px;
    left: -161px;
    width: 229px;
    height: 231px;
}

.silver-img img
{
	width: 100%;
    height: 555px;
}

.about-block
{
	position: relative;
}

button:focus
{
    outline: none;
}

.main-block {
    position: absolute;
    width: 280px;
    right: 0;
    top: 513px;
}
.internet-block h1{
	font-family: 'europa';
  font-weight: 700;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
.internet-block p{
	display: block;
    max-width: 780px;
    width: 100%;
    padding: 0px;
    margin: 30px 0 0 0;
    font-size: 22px;
    font-family: 'europa';
}
.internet-block{
	padding-top: 30px;
	padding-bottom: 30px;
}
.experience-head h1{
  font-family: 'europa';
  font-weight: 700;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
.experience-para p{
	display: block;
    max-width: 500px;
    width: 100%;
    padding: 0px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.experience{
	padding-top: 123px;
	padding-bottom: 100px;
}
.experience-year p {
    display: block;
    padding: 0 0 0 100px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.experience-city p {
    display: block;
    padding: 0 0 0 150px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}

.education-head h1{
  font-family: 'europa';
  font-weight: 700;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
.education-para p{
	display: block;
    padding: 0px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.education{
	padding-bottom: 160px;
}
.education-year p {
    display: block;
    padding: 0 0 0 100px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.education-city p {
    display: block;
    padding: 0 0 0 150px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'ibm-plex-mono';
}
.foots{
	background-color: #ffffff;

}
/*Reflection*/
.sidenav
{
  height: 100%;
  width: 280px;
  position: fixed;
  top: 120px;
  left: 0;
  padding-top: 100px;
  overflow-x: visible;

}

#back {
  width: 100px;
  height: 40px;
  border-radius: unset;
  text-align: center;
  border: 2px solid #000;
  font-size: 16px;
  padding-top: 5px;
  font-family: 'europa';
  color: #000;
  background-color: #fff:
  display: inline-block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  display: hidden;
  z-index: 1000;

}
#back:hover {
  cursor: pointer;
  background-color: #000;
  text-decoration:none;
  color: #fff;
}
#back:active {
  color: #555;
}
#back.show {
  opacity: 1;
  visibility: visible;
}


.main {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: #000;
}

.sidenav a, .dropdown-btn {
  padding-left: 50px;
  padding-bottom: 15px;
  text-decoration: none;
  font-size: 14px;
  font-family: 'ibm-plex-mono';
  color: #878787;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;

}

.dropdown-container {
  display: none;
  padding-left: 30px;

}

.reflection-block h1{
  font-family: 'europa';
  font-weight: 700;
	font-size: 36px;
	padding-left: 20px;
	margin: 0px;
}
.reflection-block p{
	display: block;
    max-width: 500px;
    width: 100%;
    padding-left: 20px;
    margin: 50px 0 0 0;
    font-size: 20px;
    font-family: 'europa';
    font-weight: 400;
}
.reflection-block{
	padding-bottom: 30px;
}
.reflection{
	padding-left: 80px;
  padding-bottom: 100px;
}
.internets-block h1{
	font-family: 'europa';
  font-weight: 700;
	font-size: 24px;
	padding-left: 20px;
	margin: 0px;
}
.internets-block p{
	display: block;
    max-width: 780px;
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
    margin: 30px 0 0 0;
    font-size: 16px;
    font-family: 'europa';
}
.internets-block{
	padding-top: 70px;
}
.internet1{
	margin-bottom: 800px;
}
.ref-foot{
	margin-left: 300px;
}
.myfooter{
	padding-left: 80px;
}

.ref-head
{
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
}

.ref-content
{
    padding-top: 100px;
}

/* Week */
.week-block h1{
	font-family: 'europa';
  font-weight: 700;
	font-size: 36px;
	padding: 0px;
	margin: 0px;
}
.week-block p{
	display: block;
    max-width: 500px;
    width: 100%;
    padding: 0px;
    margin: 50px 0 0 0;
    font-size: 20px;
    font-family: 'europa';
}
.week-block{
  padding-left: 20px;
}
.week-internet h1{
	font-family: 'europa';
  font-weight: 700;
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
.week-internet p{
	display: block;
    max-width: 780px;
    width: 100%;
    padding-right: 60px;
    margin: 35px 0 0 0;
    font-size: 17px;
    font-family: 'europa';
}
.week-internet{
	padding-top: 60px;
  padding-left: 20px;
}
.reflection-image{
	padding-left: 140px;
  padding-top: 50px;
}

.reflection-image-left {
  padding-left: 20px;
  padding bottom: 50px;
  padding-right: 60px;
  padding-top: 50px;
}

.week-internet1{
	margin-bottom: 70px;
}



@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


/*//Extra small devices (portrait phones, less than 576px)//*/
@media (max-width: 575.98px) {
  .ticker{
    width: 60%;
  }
  .brand {
  display: none;
  }

  .navbar-nav li a:hover, .disabled{
  	border-bottom: none;
    color: #000000;
  }


  .right-side-content
  {
    top:260px;
  }
.nav-item {
    margin-right: 0px;
}
.nav-link {
    padding: 5px 0px;

}
.inner-projects{
    text-align: center;
}
.inner-project{
    text-align: center;
}
.rec-desc p {
    margin: 30px 0;
    font-size: 14px;
}
.rec-desc {
    padding-left: 0;
}
.inner-projects {
    margin-top: 120px;
}

.banner-heading p {
    font-size: 15px;
    margin-top: 23px;
}
.view-btn {
    font-size: 17px;
}
.projects {
    margin-top: 0px;
}
.inner-project {
    margin-top: 50px;
    margin-bottom: 100px;
}
.theme {
    padding: 80px 0px 100px 0px;
}
.theme-desc p {
    margin: 30px auto;
    font-size: 14px;

}
.theme-name p {
    font-size: 18px;
    margin: 35px 0px;

}
.theme-desc h1 {
    font-size: 27px;

}
.about-desc p {
    max-width: 150px;
    font-size: 14px;
}
.about-desc {
    padding-bottom: 50px;
}
.black-img {
    top: -50px;
    left: -70px;
    width: 150px;
}
.black-img img {
    width: 100%;
}
.silver-img img {
    width: 100%;
    height: 555px;
}
.main-block {
    width: 120px;
    top: 371px;
}
.about-head h1 {
    padding: 100px 0 100px 0;
}
.internet-block p {
    max-width: 200px;
    font-size: 14px;
}
.internet-block h1 {
    font-size: 21px;
}
.internet-block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.experience {
    padding-top: 50px;
    padding-bottom: 50px;
}
.experience-head h1 {
    font-size: 21px;
}
.experience-para p {
    margin: 20px 0 0 0;
    font-size: 12px;
}
.experience-year p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 12px;
}
.experience-city p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 12px;
}
.education-head h1 {
    font-size: 21px;
}
.education-para p {
    margin: 20px 0 0 0;
    font-size: 12px;
}
.education-year p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 12px;
}
.education-city p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 12px;
}
.education {
    padding-bottom: 50px;
}
.sidenav {
    width: 150px;
    top: 30px;
    padding-top: 60px;
}
.sidenav a, .dropdown-btn {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 14px;
}
.reflection-block {
    padding-top: 0px;
    padding-bottom: 40px;
}
.reflection {
    padding-left: 10px;
}
.reflection-block p {
    max-width: 400px;
    margin: 20px 0 0 0;
    font-size: 14px;

}
.ref-content {
    padding-top: 50px;
}
.reflection-block h1 {
    font-size: 21px;
}
.internets-block {
    padding-top: 40px;
}
.internets-block h1 {
    font-size: 21px;
}
.internets-block p {
    max-width: 480px;
    font-size: 14px;
}
.main {
    margin-left: 150px;
}
.myfooter {
    padding-left: 0;
}
.ref-foot {
    margin-left: 150px;
}
.project-block {
    margin-top: 50px;
}
.project {
    padding: 60px 0px;
}
.project-img img {
    width: 80%;
}
.project-img {
    text-align: center;
}

.project-info p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    padding-top: 32px;
}
.project-rec {
    position: unset;
    padding-top: 35px;

}
.project-desc {
    padding-left: 0;
    text-align: center;
}
.project-info-left p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    padding-bottom: 32px;
}
.project-descs {
    padding-left: 0;
    text-align: center;
}
.project-info-left {
    padding-top: 30px;
}

.project h1 {
    font-size: 21px;
    line-height: 30px;
}
.week-block {
    padding-top: 0;
}
.week-block h1 {
    font-size: 21px;
 }
 .week-block p {
    max-width: 400px;
    margin: 30px 0 0 0;
    font-size: 14px;
}
.week-internet {
    padding-top: 40px;
}
.week-internet p {
    max-width: 480px;
    font-size: 14px;
}
.reflection-images {
    padding-top: 40px;
    padding-left: 0;
}
 }

/*//Small devices (landscape phones, 576px and up)//*/
@media (min-width: 576px) and (max-width: 767.98px) {

  .brand {
  display: none;
  }

  .ticker{
    width: 40%;
  }

  .navbar-nav li a:hover, .disabled{
    border-bottom: none;
    color: #000000;
  }

.nav-item {
    margin-right: 0px;
}
.nav-link {
    padding: 5px 0px;

}
.inner-projects{
    text-align: center;
}
.inner-project{
    text-align: center;
}
.rec-desc p {
    margin: 30px 0;
    font-size: 17px;

}
.view-btn {
    font-size: 17px;
}
.theme {
    padding: 80px 0px 100px 0px;
}
.theme-desc p {
    margin: 30px auto;
    font-size: 17px;

}
.theme-name p {
    font-size: 20px;
    margin: 35px 0px;

}
.theme-desc h1 {
    font-size: 27px;

}
.about-desc p {
    max-width: 250px;
    font-size: 17px;
}
.about-desc {
    padding-bottom: 100px;
}
.black-img {
    top: -50px;
    left: -70px;
    width: 150px;
}
.black-img img {
    width: 100%;
}
.silver-img img {
    width: 100%;
    height: 555px;
}
.main-block {
    width: 210px;
    top: 318px;
}
.about-head h1 {
    padding: 100px 0 100px 0;
}
.internet-block p {
    max-width: 280px;
    font-size: 17px;
}
.internet-block {
    padding-top: 50px;
    padding-bottom: 50px;
}
.experience {
    padding-top: 50px;
    padding-bottom: 50px;
}
.experience-head h1 {
    font-size: 21px;
}
.experience-para p {
    margin: 20px 0 0 0;
    font-size: 14px;
}
.experience-year p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 14px;
}
.experience-city p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 14px;
}
.education-head h1 {
    font-size: 21px;
}
.education-para p {
    margin: 20px 0 0 0;
    font-size: 14px;
}
.education-year p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 14px;
}
.education-city p {
    padding: 0;
    margin: 20px 0 0 0;
    font-size: 14px;
}
.education {
    padding-bottom: 80px;
}
.sidenav {
    width: 200px;
    top: 60px;
    padding-top: 80px;
}
.sidenav a, .dropdown-btn {
    padding-left: 50px;
    padding-bottom: 20px;
}
.reflection-block {
    padding-top: 0px;
    padding-bottom: 40px;
}
.reflection {
    padding-left: 10px;
}
.reflection-block p {
    max-width: 400px;
    margin: 30px 0 0 0;
    font-size: 17px;

}
.reflection-block h1 {
    font-size: 27px;
}
.internets-block {
    padding-top: 40px;
}
.internets-block p {
    max-width: 480px;
    font-size: 17px;
}
.main {
    margin-left: 200px;
}
.myfooter {
    padding-left: 0;
}
.ref-foot {
    margin-left: 200px;
}
.project-block {
    margin-top: 50px;
}
.project {
    padding: 60px 0px;
}
.project-img img {
    width: 80%;
}
.project-img {
    text-align: center;
}

.project-info p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    padding-top: 32px;
}
.project-rec {
    position: unset;
    padding-top: 35px;

}
.project-desc {
    padding-left: 0;
    text-align: center;
}
.project-info-left p {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 17px;
    padding-bottom: 32px;
}
.project-descs {
    padding-left: 0;
    text-align: center;
}
.project-info-left {
    padding-top: 30px;
}

.project h1 {
    font-size: 27px;
    line-height: 38px;

}
.week-block {
    padding-top: 0;
}
.week-block h1 {
    font-size: 27px;
 }
 .week-block p {
    max-width: 400px;
    margin: 30px 0 0 0;
    font-size: 16px;
}
.week-internet {
    padding-top: 40px;
}
.week-internet p {
    max-width: 480px;
    font-size: 16px;
}
.reflection-images {
    padding-top: 40px;
    padding-left: 0;
}
}

/*//Medium devices (tablets, 768px and up)//*/
@media (min-width: 768px) and (max-width: 991.98px) {

  .ticker{
    width: 35%;
  }

  .navbar-nav li a:hover, .disabled{
  	border-bottom: none;
    color: #000000;
  }

  .brand {
  display: none;
  }


.nav-item {
    margin-right: 0px;
}
.nav-link {
    padding: 5px 0px;

}
.inner-projects{
    text-align: center;
}
.inner-project{
    text-align: center;
}
.rec-desc p {
    margin: 30px 0;

}
.theme-name p {
    font-size: 20px;
    margin: 35px 0px;
}
.main-block {
    top: 447px;
}
.internet-block p {
    max-width: 380px;

}

.experience-city p {
    padding: 0 0 0 30px;
}
.experience-year p {

    padding: 0 0 0 30px;
}
.education-city p {
    padding: 0 0 0 30px;
}
.education-year p {

    padding: 0 0 0 30px;
}
.sidenav {
    width: 250px;
    top: 60px;
    padding-top: 80px;
}
.sidenav a, .dropdown-btn {
    padding-left: 50px;
    padding-bottom: 20px;
}
.reflection-block {
    padding-top: 0px;
}
.reflection {
    padding-left: 0px;
}
.main {
    margin-left: 250px;
}
.myfooter {
    padding-left: 0;
}
.ref-foot {
    margin-left: 250px;
}
.project-desc {
    padding-left: 20px;
}
.project-info p {
    font-size: 14px;
}
.project-info-left p {
    font-size: 14px;
}

.project-descs {
    padding-left: 20px;
}
.project-info-left {
    padding-top: 20px;
}
.project-block {
    margin-top: 70px;
}
.project {
    padding: 80px 0px;
}
.week-block {
    padding-top: 0;
}
.about-desc p {
    max-width: 280px;

}
}

/*//Large devices (desktops, 992px and up)//*/
@media (max-width: 992px) {
    .navbar-nav li:hover
    {
        border-bottom: none;
    }
}



@media (min-width: 992px) {

  .left-side-img
  {
  	width: 60%;

  }

  .ticker{
    width: 25%;
  }

.nav-item {
    margin-right: 100px;
}
.rec-desc {
    padding-left: 60px;
}
.internet-block p {
    max-width: 580px;

}
.reflection {
    padding-left: 10px;
}
.myfooter {
    padding-left: 10px;
}
.project-desc {
    padding-left: 50px;
}
.project-info p {
    font-size: 16px;
}
.project-info-left p {
    font-size: 16px;
}

.project-descs {
    padding-left: 50px;
}
.project-info-left {
    padding-top: 20px;
}
}

/*//Extra large devices (large desktops, 1200px and up)//*/
@media (min-width: 1200px) {}
